############ concrete files
# document embeddings FAISS and numpy storage
document_embeddings/faiss_docs_resolutions.bin
document_embeddings/faiss_docs_resolutions.npy

# treaties
treaties/*.csv
treaties/*.txt
treaties/*.pdf
treaties/*.md

# unesco instruments
unesco_instruments/*.csv
unesco_instruments/*.zip
unesco_instruments/txt/*.txt
unesco_instruments/pdf_files/*.pdf

#  ohchr instruments
ohchr_instruments/*.csv
ohchr_instruments/*.txt
ohchr_instruments/*.pdf
ohchr_instruments/prior_parts/*.csv

# resolutions
resolutions/*.csv
resolutions/*.txt
resolutions/*.pdf
resolutions/*.md

# conventions, protocols, recommendations
conv-prot-rec/*.csv
conv-prot-rec/*.txt
conv-prot-rec/*.pdf
conv-prot-rec/*.md

# Qwen data
Qwen3/data/

# OS files
.DS_Store
Thumbs.db

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being accessed
.nfs*

### PyCharm ###
.idea/
# All cache
**/__pycache__/

.Python

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

.pdm.toml

# PEP 582; used by e.g. github.com/David-OConnor/pyflow and github.com/pdm-project/pdm
__pypackages__/

# Celery stuff
celerybeat-schedule
celerybeat.pid

# SageMath parsed files
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
myenv/
